body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-default {
  background-color: rgb(20, 70, 9);
}

.navbar {
  color: black;
}

li.active a {
  background-color: rgb(0, 37, 3);
}
